function Player.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
push constant 32
push argument 1
call Math.multiply 2
push argument 0
push constant 16
call Math.divide 2
add
call Player.draw 2
pop temp 0
push pointer 0
return
function Player.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Player.getX 0
push argument 0
pop pointer 0
push this 0
return
function Player.getY 0
push argument 0
pop pointer 0
push this 1
return
function Player.draw 1
push argument 0
pop pointer 0
push constant 16384
push argument 1
add
pop local 0
push local 0
push constant 0
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 8189
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 4093
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 4090
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 4090
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 8178
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 16372
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32648
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 24592
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 128
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push constant 16384
push constant 32
push this 1
call Math.multiply 2
add
push this 0
push constant 16
add
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16381
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 16377
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 16369
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 24591
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 24591
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 28679
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 12291
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 7681
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4089
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 511
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 7
call Memory.poke 2
pop temp 0
push constant 16384
push constant 32
push this 1
push constant 16
add
call Math.multiply 2
add
push this 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 8192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 4096
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 2048
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 7168
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 3072
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 3584
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 1792
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 768
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 768
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 768
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 768
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 768
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 448
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 448
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 448
call Memory.poke 2
pop temp 0
push constant 16384
push constant 32
push this 1
push constant 16
add
call Math.multiply 2
add
push this 0
push constant 16
add
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 7
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 15
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 31
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 56
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 48
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 112
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 224
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 192
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 192
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 192
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 192
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 192
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 896
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 896
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 896
call Memory.poke 2
pop temp 0
push constant 0
return
function Player.erase 2
push argument 0
pop pointer 0
push constant 32
push this 1
call Math.multiply 2
push this 0
push constant 16
call Math.divide 2
add
pop local 1
push constant 16384
push local 1
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push constant 32
push this 1
call Math.multiply 2
add
push this 0
push constant 16
add
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push constant 32
push this 1
push constant 16
add
call Math.multiply 2
add
push this 0
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 16384
push constant 32
push this 1
push constant 16
add
call Math.multiply 2
add
push this 0
push constant 16
add
push constant 16
call Math.divide 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Player.moveRight 0
push argument 0
pop pointer 0
push this 0
push constant 495
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Player.erase 1
pop temp 0
push this 0
push constant 1
add
pop this 0
push pointer 0
push constant 32
push this 1
call Math.multiply 2
push this 0
push constant 16
call Math.divide 2
add
call Player.draw 2
pop temp 0
label IF_FALSE0
push constant 0
return
function Player.moveLeft 0
push argument 0
pop pointer 0
push this 0
push constant 0
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Player.erase 1
pop temp 0
push this 0
push constant 1
sub
pop this 0
push pointer 0
push constant 32
push this 1
call Math.multiply 2
push this 0
push constant 16
call Math.divide 2
add
call Player.draw 2
pop temp 0
label IF_FALSE0
push constant 0
return
function Player.run 1
push argument 0
pop pointer 0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 130
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Player.moveLeft 1
pop temp 0
label IF_FALSE0
push local 0
push constant 132
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Player.moveRight 1
pop temp 0
label IF_FALSE1
push constant 0
return
